.context-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 190px;
  z-index: 999;
  background-color: rgb(0, 0, 0);
  padding: 20px 0 10px;

  &-item {
    padding: 10px 0 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: rgb(255, 0, 0);
    }
  }

  &-close-btn {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 20px;
    cursor: pointer;
  }
}