.movie-item {
  position: relative;
  margin: 30px 55px 0 0;
  cursor: pointer;

  .context-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .movie-content {
    display: flex;
    flex-direction: column;

    .movie-content-base {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}